<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Study Session Tracker</title>
    <link rel="icon" href="{{ url_for('static', filename='Study.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 id="title">Study Tracker</h1>
    <h3 id="sub-title">Your Average Session Today: {{ avg }} mins</h3>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <div id="flash">{{ message }}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    {% if not active %}
        <form action="/start" method="POST">
            <button type="submit" class="btn">Start Your Study Session</button>
        </form>
    {% else %}
        <p id="active">Currently studying...</p>
        <form action="/stop" method="POST">
            <button type="submit" class="btn" >End Current Session</button>
        </form>
    {% endif %}
</body>
</html>